<h2 class="text-xl font-semibold text-indigo-800 mb-4"><%= @team.name.titleize %> Player List<h2>

<% @team.players.each do |player| %>
  <div>
    <h3><%= player.name %></h3>
    <p>Drafted: <%= player.drafted ? 'Yes' : 'No' %></p>
    <p>Rating: <%= player.rating %></p>
  </div>
<% end %>